
@{
    ViewBag.Title = "login";
    Layout = "~/Views/layout/navbar.cshtml";
}

<a style="color:red;display:block" href="~/Login/List" >danh sach </a>
<a style="color: red; display: block" href="~/Login/Them">them khach hang </a>
<a style="color: red; display: block" href="~/Login/ListLoaiKH">loai khach hang </a>

