
@{
    ViewBag.Title = "Sevice";
    Layout = "~/Views/layout/navbar.cshtml";
}

<h2>Sevice</h2>
<a style="color:red;" href="~/Sevice/Them">them kach hang</a>
<hr />
<a style="color: red;" href="~/Sevice/List">list khach hang</a>

