
@{
    ViewBag.Title = "about";
    Layout = "~/Views/layout/navbar.cshtml";
    ViewBag.list = new List<String> { "bao", "About" };
    ViewBag.active = 2;


}
<h2>about index</h2>
<a href="~/About/ListSinhVien"
   style=
   "color:orangered;
    display:block"
>
        dah sach sinh vien
</a>
<a href="~/About/Them"
   style="
    color:orangered"
>
    them sinh vien</a>
